<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page Not Found</title>
    <link rel="stylesheet"  href="/css/main.css">
    <link rel="stylesheet"  href="/css/404.css">
</head>
<body>

<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/">Home</a></li>
            <li class="main-header__item"><a class="active" href="/users">Users</a></li>
        </ul>
    </nav>
</header>


<div class="flex-container">
    <div class="text-center">
        <h1>
            <span class="fade-in" id="digit1">4</span>
            <span class="fade-in" id="digit2">0</span>
            <span class="fade-in" id="digit3">4</span>
        </h1>
        <h3 class="fadeIn">PAGE NOT FOUND</h3>
        <a href="/" type="button" class="back_to_home">Return To Home</a>
    </div>
</div>
</body>
</html>